<h1>Gradle Build Description</h1>

<p>2014-10-18
Jesper &Ouml;qvist
Lund University, Sweden</p>

<p>This is a repackaging of <a href="http://jastadd.org/web/examples.php?example=StateMachine">G&ouml;rel Hedins State Machine example</a> to use a
<a href="http://www.gradle.org/">Gradle</a> build instead of the Ant build of the original example project.</p>

<p>The advantages of using Gradle over Ant are:</p>

<ul>
<li>More flexibility in the builds by using <a href="http://groovy.codehaus.org/">Groovy</a> code in the build tasks</li>
<li>Dependencies can be fetched from Ivy or Maven repositories</li>
<li>Improved handling of dependencies between build tasks</li>
<li>Build by convention: similar to Maven, Gradle assumes some sane default
settings which minimizes the amount of configuration you need to do for each
build.</li>
</ul>

<p>In addition, all Ant tasks are available from a Gradle build!</p>

<p>In order to support building JastAdd projects with Gradle, a custom Gradle
plugin, <a href="https://bitbucket.org/joqvist/jastaddgradle">JastAddGradle</a>, is used. The plugin is published to the JastAdd
Maven repository (<code>http://jastadd.org/mvn/</code>).</p>

<h2>Directory Structure</h2>

<p>In order to make the state machine project a bit better structured the source
directories have been reorganized in the following manner:</p>

<ul>
<li><strong>src/main</strong> the main Java sources (includes StateMachine compiler)</li>
<li><strong>src/test</strong> the Java test sources</li>
<li><strong>src/gen</strong> destination for generated Java code, removed by <code>gradle clean</code></li>
<li><strong>build</strong> temporary directory used by Gradle for build artifacts, removed by
<code>gradle clean</code></li>
</ul>

<p>Note that the exampleprogs directory moved into <code>src/main</code> and the tests
directory moved into <code>src/test</code>.</p>

<p>No additional Jar libraries are needed in the project from scratch since the
Gradle build fetches the required libraries dynamically. Thus, the <code>tools</code>
directory has been removed.</p>

<h2>The Build Script</h2>

<p>There are two new files used by the Gradle build:</p>

<ul>
<li><strong>build.gradle</strong> the gradle build script</li>
<li><strong>jastadd_modules</strong> the JastAdd module definitions</li>
</ul>

<p>The <code>jastadd_modules</code> file looks like this:</p>

<pre><code>module("statemachine") {
    java {
        basedir "."
        include "main/**/*.java"
        include "gen/**/*.java"
    }

    jastadd {
        include "spec/*.ast"
        include "spec/*.jadd"
        include "spec/*.jrag"
    }

    scanner {
        include "spec/*.flex"
    }

    parser {
        include "spec/*.parser"
    }
}
</code></pre>

<p>This is a list of the files used by the parser, scanner and attribute code
generators. The JastAddGradle plugin uses these lists to run the various
code generators.</p>

<p>The <code>build.gradle</code> script is a little more complicated. It starts with the
<code>buildscript</code> construct. This is used to tell Gradle where to fetch the
JastAddGradle plugin:</p>

<pre><code>buildscript {
    repositories.mavenCentral()
    dependencies {
        classpath 'org.jastadd:jastaddgradle:1.10.0'
    }
}
</code></pre>

<p>The above declarations tell Gradle that the dependencies can be fetched from
the local Maven repository, or the JastAdd Maven repository, and that the
build script depends on the JastAddGradle version 1.10.0.</p>

<p>Next, the build script tells Gradle which plugins to use:</p>

<pre><code>apply plugin: 'java'
apply plugin: 'jastadd'
</code></pre>

<p>The <code>java</code> plugin is installed in Gradle, and the <code>jastadd</code> plugin is the
JastAddGradle plugin we just declared the dependency for.</p>

<p>The next part of the build script configures the JastAddGradle plugin by
telling it where to search for modules, which module to build, and some
other important build parameters:</p>

<pre><code>jastadd {
    configureModuleBuild()
    modules "jastadd_modules"

    module = "statemachine"

    astPackage = "AST"

    genDir = "src/gen"
    scanner.genDir = "src/gen/AST"
    parser.name = "StateMachineParser"
    parser.genDir = "src/gen/AST"
}
</code></pre>

<p>The remaining parts of the build script pretty normal for a Java Gradle build.
The JastAddGradle plugin takes care of adding build tasks to generate the
scanner, parser, and the abstract grammar.</p>

<h2>Test it</h2>

<p>You can run the tests using the following command:</p>

<pre><code>gradle test
</code></pre>

<p>The above runs the tests located in the <code>src/test/tests</code> directory.
The followig creates the Jar file <code>GradleBuild-all.jar</code>.</p>

<pre><code>gradle jarAll
</code></pre>

<p>Run the generated Jar file using this command:</p>

<pre><code>java -jar GradleBuild-all.jar exampleprogs/test.sm
</code></pre>
